# Bundler cache
.bundle
vendor


# Jekyll cache
.jekyll-cache/
Jekyll/
.jekyll-metadata
.ipynb_checkpoints/
_site

# RubyGems
*.gem

# NPM dependencies
node_modules


# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc

