<!-- unnecessary file, however you can still use for comment section, e.g disqus -->
<script src="https://giscus.app/client.js"
        data-repo="TaewonyNet/taewonynet.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMDk3MTgyOTU="
        data-category="Comments"
        data-category-id="DIC_kwDOEnXtF84CjQ08"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
